.o {
  background: url("images/bg.jpg") center center / cover no-repeat
    rgba(17, 17, 17, 0.4);
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  z-index: 1001;
  position: fixed;
  display: block;
  filter: blur(2px);
  background-blend-mode: darken;
}
.logo {
  top: 48px;
  text-align: center;
  margin: auto;
  transition: 1s ease;
  right: 0px;
  left: 0px;
  z-index: 1003;
  position: fixed;
  display: block;
  color: #fff;
  filter: invert(100%);
  height: 40px;
}
.text {
  font-size: 0rem;
  margin: auto;
  max-width: 640px;
  position: relative;
  fill: #fff;
  color: #fff;
  position: fixed;
  text-align: center;
  top: 450px;
  height: 40px;
  margin: auto;
  right: 0px;
  left: 0px;
  z-index: 1003;
}

.heading {
  z-index: 1003;
  color: #fff;
  position: fixed;
  font-family: "Roboto";
  text-align: center;
  font-size: 2rem;
  width: 100%;
  top: 25%;
}
.title {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto";
  text-align: center;
}
.acct {
  text-decoration: none;
  font-size: 1rem;
  fill: #fff;
  color: #fff;
  padding-top: 20px;
  padding: 24px 0;
  box-sizing: border-box;
  display: block;
  position: relative;
  cursor: pointer;
  font-family: roboto;
}
.hindi {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 1rem;
  fill: #fff;
  color: #fff;
  padding: 16px 0;
  box-sizing: border-box;
  cursor: pointer;
  padding-top: 10px;
}
.green {
  table-layout: fixed;
  width: 100%;
  display: table;
  font-size: 1.125rem;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.space {
  width: 24px;
}
.men {
  box-shadow: rgb(0, 0, 0/5%) 1px 1px 2px 1px;
  white-space: nowrap;
  fill: #333;
  color: #333;
  background: #9c3;
  border-radius: 8px;
  height: 45px;
  width: 250px;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  cursor: pointer;
  font-size: 1.125rem;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  left: 60px;
}

.women {
  box-shadow: rgb(0, 0, 0/5%) 1px 1px 2px 1px;
  white-space: nowrap;
  fill: #333;
  color: #333;
  background: #9c3;
  border-radius: 8px;
  height: 48px;
  width: 250px;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  cursor: pointer;
  font-size: 1.125rem;
  text-align: center;
  font-family: Roboto;
  font-weight: bold;
  right: 50px;
}
.wrap {
  background: rgba(153, 204, 51, 0.3);
  fill: #333;
  color: #333;
  color: #fff;
}
